@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  font-size: 16px;
  font-family: "Nunito", sans-serif;
  box-sizing: border-box;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
img {
  max-width: 100%;
  height: auto;
}
hr {
  background-image: linear-gradient(to left, #d1fae5, #34d399, #d1fae5);
  height: 1px;
  @apply mx-auto my-6 w-11/12 text-center border-0;
}
